In [56]:
# Comprehensions - One Liner Statements

# LIST COMPREHENSIONS
# DICT COMPREHENSIONS

# List Comprehensions

In [1]:
# Example

# Let us create a list with the square of numbers between 1 and 10

In [2]:
# standard programming

In [1]:
sqrlist = []

for x in range(1,11):
    sqrlist.append(x**2)

In [2]:
sqrlist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
sqrlist  = [x**2 for x in range(1,11)]

In [5]:
sqrlist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# Comprehension:

sqrlist = [x**2 for x in range(1,11)]

In [6]:
sqrlist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
# Lets Understand the Syntax

In [7]:
['pingpong' for x in range(5)]

['pingpong', 'pingpong', 'pingpong', 'pingpong', 'pingpong']

In [8]:
['pingpong_'+str(x) for x in range(5)]

['pingpong_0', 'pingpong_1', 'pingpong_2', 'pingpong_3', 'pingpong_4']

In [10]:
['id_'+str(i) for i in range(5)]

['id_0', 'id_1', 'id_2', 'id_3', 'id_4']

# Exercise

Using List Comprehension, create a list which has square of value from 1 to 5(both included) with the following string:

[sqaure_of 1_is_1, sqaure_of 2_is_4.....]

In [11]:
[f"square_of_{i}_is_{i**2}" for i in range(1,6)]

['square_of_1_is_1',
 'square_of_2_is_4',
 'square_of_3_is_9',
 'square_of_4_is_16',
 'square_of_5_is_25']

## Condition

In [13]:
my_list = []

for x in range(1,11):
    if x<5:
        my_list.append(x)

In [14]:
my_list

[1, 2, 3, 4]

In [15]:
[x for x in range(1,11) if x<5]

[1, 2, 3, 4]

In [16]:
[x for x in range(1,11) if x%2!=0]

[1, 3, 5, 7, 9]

In [19]:
my_list = []

for x in range(1,11):
    if x%2==0:
        my_list.append("even")
    else:
        my_list.append("odd")

In [20]:
my_list

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [23]:
['odd' if x%2!=0 else 'even' for x in range(1,11)]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [24]:
#This would create an error
[x if x%2==0 for x in range(1,11)]

SyntaxError: invalid syntax (<ipython-input-24-b5e5d2b7191d>, line 2)

## Apply inbuilt function

In [25]:
all_colors = ['red','blue','green']

In [26]:
[color.upper() for color in all_colors]

['RED', 'BLUE', 'GREEN']

In [28]:
#Task: Weight of players in pounds

nba_player = [110,215,190,185,210]

# Use comprehension expression to convert weight in pounds -> KG(s)

In [29]:
[weight*0.453 for weight in nba_player]

[49.83, 97.395, 86.07000000000001, 83.805, 95.13000000000001]

# Dictionary Comprehension

In [105]:
[x for x in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
{x:"ola" for x in range(1,6)}

{1: 'ola', 2: 'ola', 3: 'ola', 4: 'ola', 5: 'ola'}

In [32]:
{x:x**2 for x in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [33]:
# Task:

happiness = ['bliss','paradise','prosperity','euphoria','delight']

In [34]:
# dictionary
# key: word
# value: length of the word

In [35]:
{item:len(item) for item in happiness}

{'bliss': 5, 'paradise': 8, 'prosperity': 10, 'euphoria': 8, 'delight': 7}

In [36]:
# Task:

# Prices are in $
grocery_list = {'milk':2.5, 'butter': 3.5, 'bread': 1.8}

# Create another dictionary with
# key:item
# value: price(INR)

In [37]:
{k:v*75 for k,v in grocery_list.items()}

{'milk': 187.5, 'butter': 262.5, 'bread': 135.0}

# Lambda

lambda arguments : expression

In [41]:
# Python code to illustrate cube of a number
# showing difference between def() and lambda().

def cube(y):
    return y*y*y

In [42]:
cube(8)

512

In [38]:
sum([7,8,9])

24

In [46]:
cube_lambda = lambda x: x**3

In [45]:
cube_lambda(8)

512

In [47]:
x = lambda a : a + 10

In [48]:
x(2)

12

## Condition

In [51]:
def check_val(a,b):
    if a>b:
        new = a
    else:
        new = b
    return new

In [52]:
check_val(7,8)

8

In [53]:
check_val(10,30)

30

In [54]:
max_lambda = lambda x,y: x if x>y else y

In [55]:
max_lambda(9,10)

10

In [59]:
weight_conv = lambda x: x*0.453

In [60]:
nba_player = [110,215,190,185,210]

In [61]:
[weight_conv(x) for x in nba_player]

[49.83, 97.395, 86.07000000000001, 83.805, 95.13000000000001]

# Map

map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [62]:
# Python program to demonstrate working
# of map.
  
multiplication = lambda x: x*2

In [63]:
multiplication(3)

6

In [64]:
# We double all numbers using map()
numbers = [1, 2, 3, 4]

In [65]:
numbers

[1, 2, 3, 4]

In [68]:
list(map(multiplication,numbers))

[2, 4, 6, 8]

In [69]:
# Double all numbers using map and lambda
  
numbers = (1, 2, 3, 4)

result = map(lambda x: x*2, numbers)

print(list(result))

[2, 4, 6, 8]

In [70]:
# Add two lists using map and lambda
  
numbers1 = [1, 2, 3]

numbers2 = [4, 5, 6]

In [72]:
list(map(lambda x,y: x+y,numbers1, numbers2))

[5, 7, 9]

# Filter

The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

In [73]:
# a list contains both even and odd numbers. 
seq = [0, 1, 2, 3, 5, 8, 13]

In [75]:
new_seq = []
for num in seq:
    if num % 2 != 0:
        new_seq.append(num)

In [76]:
new_seq

[1, 3, 5, 13]

In [83]:
my_func = lambda x: x%2 != 0

In [88]:
seq = [0, 1, 2, 3, 5, 8, 13]

In [89]:
# result contains odd numbers of the list

result = filter(lambda x: x%2 != 0, seq)

In [90]:
print(list(result))

[1, 3, 5, 13]

In [91]:
# result contains even numbers of the list

result = filter(lambda x: x % 2 == 0, seq)

print(list(result))

[0, 2, 8]

# Reduce

In [92]:
# python code to demonstrate working of reduce()
 
# importing functools for reduce()
from functools import reduce

In [94]:
def my_add(a, b):
    result = a + b
    print(f"{a} + {b} = {result}")
    return result

In [95]:
my_add(9,8)

9 + 8 = 17

17

In [96]:
numbers = [0, 1, 2, 3, 4]

In [97]:
reduce(my_add, numbers)

0 + 1 = 1
1 + 2 = 3
3 + 3 = 6
6 + 4 = 10

10

In [98]:
reduce(lambda x,y: x+y, numbers)

10

In [197]:
def cube_new(x,y):
    result = x**2+y**2
    print(f"{result}")
    return result

In [193]:
lambda x,y: x**2 + y**2

In [ ]:
numbers = [0, 1, 2, 3, 4]

In [194]:
reduce(lambda x,y: x**2 + y**2, numbers)

1172

In [198]:
reduce(cube_new, numbers)

1
5
34
1172

1172

In [127]:
# initializing list
lis = [1, 3, 5, 6, 2]

In [128]:
lis

[1, 3, 5, 6, 2]

In [129]:
# using reduce to compute sum of list
print("The sum of the list elements is : ", end="")

The sum of the list elements is :

In [130]:
print(reduce(lambda a, b: a+b, lis))

17