# Understanding Python

## Operators

Operators are the constructs which can manipulate the value of operands.

Consider the expression 4 + 5 = 9. Here, 4 and 5 are called operands and + is called operator.

Python language supports the following types of operators.
	
- Arithmetic Operators
- Comparison (Relational) Operators
- Logical Operators


<b>Assume 'a' holds 10 and variable 'b' holds 20.</b>

In [210]:
a = 10
b = 20

### Arithmetic Operators

Arithmetic Operators perform various arithmetic calculations like addition, subtraction, multiplication, division, %modulus, exponent, etc.

<table class="table table-bordered table-hover table-condensed" align='centre'>
    
<thead><tr><th title="Field #1">Operator</th>
<th title="Field #2">Example</th>
</tr></thead>
<tbody><tr>
<td>+ Addition</td>
<td>a + b = 30</td>
</tr>
<tr>
<td>- Subtraction</td>
<td>a – b = -10</td>
</tr>
<tr>
<td>* Multiplication</td>
<td>a * b = 200</td>
</tr>
<tr>
<td>/ Division</td>
<td>b / a = 2</td>
</tr>
<tr>
<td>% Modulus (Remainder)</td>
<td>b % a = 0</td>
</tr>
<tr>
<td>// (Quotient)</td>
<td>9//2 = 4 and 9.0//2.0 = 4.0, -11//3 = -4, -11.0//3 = -4.0</td>
</tr>
<tr>
<td>** Exponent</td>
<td>a**b =10 to the power 20</td>
</tr>
</tbody></table>

In [1]:
a = 7
b = 4

In [2]:
a%b

3

In [3]:
10%3

1

In [4]:
6%2

0

In [5]:
a/b

1.75

In [6]:
a//b

1

In [7]:
11/3

3.6666666666666665

In [8]:
11//3

3

In [9]:
-11/3

-3.6666666666666665

In [10]:
-11//3

-4

In [11]:
# 4 raise to the power of 3

4**3

64

In [12]:

3**2**2

81

### Comparison Operators

These operators compare the values on either side of the operand and determine the relation between them. It is also referred as relational operators.

<table class="table table-bordered table-hover table-condensed">
<thead><tr><th title="Field #1">Operator</th>
<th title="Field #2">Example</th>
</tr></thead>
<tbody><tr>
<td>==</td>
<td>(a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>(a != b) is true.</td>
</tr>
<tr>
<td>&gt; </td>
<td>(a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt; </td>
<td>(a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>(a &gt;= b) is not true.</td>
</tr>
<tr>
<td>&lt;=</td>
<td>(a &lt;= b) is true.</td>
</tr>
</tbody></table>

In [18]:
a = 5
b = 4

In [19]:
a == b

False

In [20]:
a != b

True

In [21]:
a > b

True

In [22]:
a < b

False

In [23]:
a >= b

True

In [24]:
a <= b

False

### Logical Operators

Logical operators in Python are used for conditional statements are true or false. Logical operators in Python are AND, OR and NOT.

For logical operators following condition are applied.

- For AND operator – It returns TRUE if both the operands (right side and left side) are true
- For OR operator- It returns TRUE if either of the operand (right side or left side) is true
- For NOT operator- returns TRUE if operand is false

In [25]:
a = True
b = False

<table class="table table-bordered table-hover table-condensed">
<thead><tr><th title="Field #1">Operator</th>
<th title="Field #2">Example</th>
</tr></thead>
<tbody><tr>
<td>and Logical AND</td>
<td>(a and b) is False.</td>
</tr>
<tr>
<td>or Logical OR</td>
<td>(a or b) is true.</td>
</tr>
<tr>
<td>not Logical NOT</td>
<td>Not(a and b) is True.</td>
</tr>
</tbody></table>

### AND LOGICAL

In [26]:
a = 4
b = 5
c = 6
d = 7

In [27]:
True and True

True

In [28]:
(b>a) and (d>c)

True

In [29]:
True and False

False

In [30]:
(b>a) and (c>d)

False

In [31]:
False and False

False

In [32]:
(a>b) and (c>d)

False

### OR LOGICAL

In [33]:
a = 4
b = 5
c = 6
d = 7

In [34]:
True or True

True

In [35]:
(b>a) or (d>c)

True

In [36]:
True or False

True

In [37]:
(b>a) or (c>d)

True

In [38]:
False or False

False

In [39]:
(a>b) or (c>d)

False

### NOT - Logical

In [40]:
a = 4
b = 5
c = 6
d = 7

In [41]:
not True

False

In [42]:
not (b>a)

False

In [43]:
not False

True

In [44]:
not (a>b)

True

## Keywords

Keywords are the reserved words in Python. We cannot use a keyword as variable name, function name or any other identifier.

In [45]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Link: https://www.programiz.com/python-programming/keyword-list

# Control Statements

## Identation

In [263]:
# four spaces or single Tab

In [ ]:
if (b>a):
    print("xyz")

print("abc")

## if statement

This statement is used to execute one or more statement depending on whether a condition is True or not.

if condition:
   statement(s)

In [97]:
a,b = 1,2

In [47]:
#example:
num = 1

In [48]:
if num == 1:
    print("This will execute")

This will execute

In [49]:
if num > 1:
    print("this will not execute")

## if... else statement

The if... else statement executes a group of statements when a condition is True; otherwise, it will execute another group of statements.

if condition:
   statement(s)
else:
   statement(s)

In [50]:
# to know if a given number is even or odd

num = 11

In [51]:
if num%2==0:
    print("This is Even")
else:
    print("This is odd")

This is odd

## if... elif... else statement

Sometimes, the programmer has to test multiple conditions and execute statements depending on those conditions. if..elif... else statement is useful in such situations.

if condition1:
   statement(s)
   
elif condition2:
   statement(s)
   
elif condition3:
   statement(s)
   
else:
   statement(s)

In [104]:
# to know if a given number is zero or +ve or -ve

In [55]:
num = int(input("Enter a number: "))

if num>0:
    print("This is a positive number")
elif num==0:
    print("Zero")
else:
    print("This is a negative number")

Enter a number: -11
This is a negative number

In [56]:
# Bring the right BUTTER

In [58]:
butter_brand = input("Enter the brand of butter you want: ")

if butter_brand=="AMUL":
    print("I have purchased AMUL Butter Maa")
elif butter_brand=="NUTRILITE":
    print("I have purchased Nutrilite Butter Maa")
else:
    print("Only this was available")

Enter the brand of butter you want: NUTRILITE
I have purchased Nutrilite Butter Maa

In [61]:
a = 5
b = 6
c = 7

In [62]:
# Nested IF statment
if b>a:
    print("This will print1")
    if c>b:
        print("this will print2")

This will print1
this will print2

In [63]:
if b>a:
    print("this will print 1")
    if b>c:
        print("this will not print")

this will print 1

## while Loop

A statement is executed only once from top to bottom. For example, 'if' is a statement that is executed by Python only once. but a loop is useful to execute repeatedly.

while condition:
    statements

In [ ]:
# Display numbers from 1 to 10

In [64]:
x = 1

while x<=10:
    print(x)
    x = x + 1

print("END")

1
2
3
4
5
6
7
8
9
10
END

## for Loop

The for loop is useful to iterate over the elements of a sequence. It means the for loop can be used to execute a group of statements repeatedly depending upon the number of elements in the sequence.

for var in sequence:
    statements

In [69]:
# Example

my_list = ["Devesh", "Lucknow", "UPES",91]

In [72]:
for item in my_list:
    print(item)
    print(str(item) + "_Hey")

Devesh
Devesh_Hey
Lucknow
Lucknow_Hey
UPES
UPES_Hey
91
91_Hey

In [73]:
my_list = [1,2,3,4,5]

for num in my_list:
    print(num**2)

1
4
9
16
25

In [74]:
num

5

A while loop will “do” something as long as or until a condition is met.

A for loop will “do” something to everything which you wish to iterate through.

# Built-In Functions - Datatype

## int()
The int() function converts the specified value into an integer number.

In [6]:
int(134.09893)

134

In [75]:
int("45678")

45678

## float()
The float() function converts the specified value into a floating point number.

In [9]:
float(3)

3.0

In [8]:
float("3.500")

3.5

## str()

The str() function converts the specified value into a string.

In [13]:
str(12)

'12'

In [11]:
str(3.5)

'3.5'

## bool()
The bool() function converts the given value to a boolean value (True or False). If the given value is False, the bool function returns False else it returns True.

As we seen in the syntax that the bool() function can take a single parameter (value that needs to be converted). It converts the given value to True or False.

If we don’t pass any value to bool() function, it returns False.

In [76]:
bool(1)

True

In [77]:
bool(0)

False

In [78]:
bool(-1)

True

In [287]:
int(True)

1

In [288]:
int(False)

0

 # Built-In Functions - Mathematic Operations

## abs()
The abs() function returns the absolute value of the specified number.

In [79]:
abs(-98)

98

In [80]:
abs(-90.56)

90.56

In [81]:
abs(968567)

968567

## divmod()
The divmod() function returns a tuple containing the quotient  and the remainder when argument1 (divident) is divided by argument2 (divisor).

divmod(divident, divisor)


divident - A Number. The number you want to divide

divisor - A Number. The number you want to divide with

In [83]:
7//4

1

In [82]:
7%4

3

In [85]:
divmod(7,4)

(1, 3)

In [86]:
divmod(10,6)

(1, 4)

## max() and min()

The max() function returns the item with the highest value, or the item with the highest value in an iterable.

The min() function returns the item with the lowest value, or the item with the lowest value in an iterable.

If the values are strings, an alphabetically comparison is done.

In [87]:
min([34,56,78])

34

In [88]:
min([34,56,-78])

-78

In [89]:
max([34,56,78])

78

In [91]:
max(34,56,90)

90

## round()

The round() function returns a floating point number that is a rounded version of the specified number, with the specified number of decimals.

The default number of decimals is 0, meaning that the function will return the nearest integer.

round(number, digits)

number - Required. The number to be rounded

digits - Optional. The number of decimals to use when rounding the number. Default is 0

In [94]:
round(9.8)

10

In [95]:
round(9.3)

9

In [96]:
round(9.5)

10

In [97]:
round(9.49)

9

In [311]:
round(9.567887679,3)

9.568

## sum()

The sum() function returns a number, the sum of all items in an iterable.

sum(iterable, start)

- iterable: Required. The sequence to sum
- start: Optional. A value that is added to the return value

In [98]:
sum([3,4])

7

In [99]:
sum((8,9,10))

27

In [100]:
list_1 = [1,2,3,4,5,6]

sum(list_1)

21

## range()

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

- start: Optional. An integer number specifying at which position to start. Default is 0

- stop: Required. An integer number specifying at which position to end.

- step: Optional. An integer number specifying the incrementation. Default is 1

In [ ]:
#range(start, stop, step)

In [104]:
list(range(5))

[0, 1, 2, 3, 4]

In [106]:
list(range(2,5))

[2, 3, 4]

In [107]:
list(range(1,13,2))

[1, 3, 5, 7, 9, 11]

In [108]:
for i in range(1,13,2):
    print(i)

1
3
5
7
9
11

In [109]:
list(range(1,10,-1))

[]

In [110]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [111]:
list(range(1,10,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Exercise

## Question
Take values of length and breadth of a rectangle from user and check if it is square or not. Assume user enters only postive values.

In [113]:
length = int(input("Enter the length: "))
breadth = int(input("Enter the breadth: "))

if length==breadth:
    print("This is a Square.")
else:
    print("This is a rectangle")

Enter the length: 20
Enter the breadth: 21
This is a rectangle

## Question
Take two int values from user and print greatest among them.

In [114]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

print(f"The greatest of the given number is {max(num1,num2)}")

Enter the first number: 20
Enter the second number: 30
The greatest of the given number is 30

## Question
Accept two int values from the user and return their product. If the product is greater than 1000, then return their sum.

In [116]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter the second number: "))

my_product = num1*num2

if my_product>1000:
    print(f"The sum of the two numbers is {num1+num2}")
else:
    print(f"The product of the given number is {my_product}")

Enter first number: 100
Enter the second number: 20
The sum of the two numbers is 120

## Question
A shop will give discount of 10% if the selling price of purchased items is more than 1000. Suppose, selling price of one unit is 100.
Ask user for the number of units of the item. Calculate and print total selling for the shopkeeper.

In [119]:
num_input = int(input("Enter the Quantity: "))

selling_price = 100*num_input

if selling_price>1000:
    discounted_price = selling_price*(0.9)
    print(f"The selling price with discount of 10% is {discounted_price}")
else:
    print(f"The selling price of the items is {selling_price}")

Enter the Quantity: 20
The selling price with discount of 10% is 1800.0

## Question

Print First 10 even and odd numbers using while loop. Print it like:

- "Odd 1 and Even 0"
- "Odd 3 and Even 2"
- and so on...

In [120]:
count = 1

# first even and odd numbers
even = 0
odd = 1

while count<=10:
    print(f"Odd {odd} and Even {even}")
    
    odd = odd + 2
    even = even + 2
    
    count += 1 #count = count + 1

Odd 1 and Even 0
Odd 3 and Even 2
Odd 5 and Even 4
Odd 7 and Even 6
Odd 9 and Even 8
Odd 11 and Even 10
Odd 13 and Even 12
Odd 15 and Even 14
Odd 17 and Even 16
Odd 19 and Even 18

In [ ]:
num = int(input("enter any number : "))
odd = list(range(1,num,2))
even = list(range(0,num,2))
for i in (num-1)/2:
    print(f'odd {odd[i]} and Even {even[i]}')

## Question

Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

For example, if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)

In [123]:
num_input = int(input("Enter a number for getting total sum: "))

my_sum = sum(range(1,num_input+1))

print(f"The total is {my_sum}")

Enter a number for getting total sum: 15
The total is 120

In [2]:
#Write a program to accept a number from a user and calculate the sum of all 
#numbers from 1 to a given number

num = int(input("enter any number : "))
total = 0
for i in range(1,num+1):
    total += i
print(total)

enter any number :  40

820

## Question
Fibonacci Series:
A Fibonacci sequence is the integer sequence of 0, 1, 1, 2, 3, 5, 8....

The first two terms are 0 and 1. All other terms are obtained by adding the preceding two terms. This means to say the nth term is the sum of (n-1)th and (n-2)th term.

Write a program to display the Fibonacci sequence up to n-th term provided by the user.

In [127]:
nterms = int(input("Enter the number of terms you want in Fibonacci Series: "))

# first two terms
n1, n2 = 0, 1

count = 0

if nterms<=0:
    print("Please enter a positive number: ")
elif nterms == 1:
    print(f"The fibonacci series til {nterms}:")
    print(n1)
else:
    print(f"The fibonacci series til {nterms}:")
    
    while count<nterms:
        print(n1)
        nth = n1 + n2
        n1 = n2
        n2 = nth
        count += 1

Enter the number of terms you want in Fibonacci Series: 10
The fibonacci series til 10:
0
1
1
2
3
5
8
13
21
34

## Questions
A positive integer greater than 1 which has no other factors except 1 and the number itself is called a prime number. 2, 3, 5, 7 etc. are prime numbers as they do not have any other factors. But 6 is not prime (it is composite) since, 2 x 3 = 6.

Write a program to check if a number is prime or not?

In [130]:
num = int(input("Enter the number needs to be checked for Prime: "))

k = 0

for i in range(2,num):
    if num%i==0:
        k += 1

if k==0:
    print("the number is Prime")
else:
    print("the number is not Prime")

Enter the number needs to be checked for Prime: 11
the number is Prime

In [132]:
num

11

In [131]:
list(range(2,num))

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
# Write a program to check if a number is prime or not?

num = int(input("enter any number : "))
count = 0
primelist = []
for i in range(num):
    if (num%(i+1)==0):
        count+=1
        primelist.append([i+1])
        

print("factors are: ", primelist)        
if (count<=2):
    print("number entered is a prime number")
    
    
else:
    print("number is not a prime number")

enter any number :  40

factors are:  [[1], [2], [4], [5], [8], [10], [20], [40]]
number is not a prime number