In [1]:
print("Hi")

Hi

In [2]:
print('Hi')

Hi

In [3]:
print(Hi)

NameError: name 'Hi' is not defined

In [7]:
print("Hello World!") #SHIFT + ENTER - The cell will be run and also, a new cell would be added

Hello World!

In [8]:
print("Hello World!") #CTRL + ENTER - It will only run the cell

Hello World!

In [14]:
Age = 21
age = 38

In [15]:
Age

21

In [16]:
age

38

In [38]:
name = "Susan"
age = 21
height = 5.5
is_Indian = False

In [39]:
type(name)

str

In [11]:
type(age)

int

In [12]:
type(height)

float

In [13]:
type(is_Indian)

bool

In [17]:
car = "Ford"

In [18]:
print(car)

Ford

In [19]:
del car

In [20]:
print(car)

NameError: name 'car' is not defined

In [21]:
# String Formatting

In [22]:
car_name = "Honda"

In [23]:
print(car_name)

Honda

In [24]:
# String Concatenation
print("My car name is "+car_name)

My car name is Honda

In [25]:
print("My car name is ",car_name)

My car name is  Honda

In [26]:
#Format Method

In [27]:
item = "Honda"

In [28]:
print("My car name is {}".format(item))

My car name is Honda

In [29]:
item_1 = "Honda"
item_2 = "Maruti"

In [30]:
print("My car names are {} and {}".format(item_1,item_2))

My car names are Honda and Maruti

In [31]:
# f-string

In [32]:
# f-string method will replace the {variable} with its values

In [33]:
item = "Honda"

In [34]:
print(f"My car name is {item}")

My car name is Honda

In [35]:
# Try this Exercise

In [36]:
item_1 = "Guts"
item_2 = "Glory"

# The output should be like this, use f-string: "No Guts No Glory"

In [37]:
print(f"No {item_1} No {item_2}")

No Guts No Glory

In [40]:
input()

Devesh

'Devesh'

In [41]:
name = input()

Devesh

In [44]:
name

'Devesh'

In [43]:
print(name)

Devesh

In [45]:
name = input("Enter you name: ")

Enter you name: Devesh

In [46]:
name

'Devesh'

In [47]:
name = input("Enter your name: ")
city = input("Enter your city: ")
wish = input("Enter your wish: ")

Enter your name: Devesh Singh
Enter your city: Lucknow
Enter your wish: I hope everyone in this class becomes a pro python coder.

In [48]:
age = input("Enter your age: ")

Enter your age: 30

In [49]:
type(age)

str

In [52]:
age = int(input("Enter you age: "))

Enter you age: 30

In [53]:
age

30

In [54]:
type(age)

int

In [56]:
int("30") # Type casting - trying to convert one datatype to another datatype

30

In [57]:
int("devesh")

ValueError: invalid literal for int() with base 10: 'devesh'

In [58]:
"21" + 3

TypeError: can only concatenate str (not "int") to str

In [59]:
int("21") + 3

24

In [60]:
float("30.6") + 3

33.6

In [61]:
# Write a program to take two integers from the users and give their average

In [62]:
num1 = int(input("Enter the 1st number: "))
num2 = int(input("Enter the 2nd Number: "))

avg = (num1 + num2)/2

print(f"The average of the given two numbers is: {avg}")

Enter the 1st number: 30
Enter the 2nd Number: 40
The average of the given two numbers is: 35.0

In [ ]:
+ # Addition
- # Substraction
/ # Division
* # Multiplication

In [63]:
# Create a program to take input from the user- mass and acceleration
# and print output - force
# no need to worry about any units as of now

# You can use float() or int() for input()

In [64]:
a, b = input(), input()

Devesh
Singh

In [65]:
a

'Devesh'

In [66]:
b

'Singh'

In [67]:
mass = float(input("Enter the mass value: "))
acce = float(input("Enter the accelaration value: "))

force = mass*acce

print(f"The force valeu for entered mass and accelaration is: {force}")

Enter the mass value: 20.5
Enter the accelaration value: 80
The force valeu for entered mass and accelaration is: 1640.0

In [68]:
# Take a number from the user and give the values after 

# 1. substracing 10 
# 2. adding 10
# 3. square

# finally print a statement with all outputs

In [70]:
num = float(input("Enter a number: "))

num_plus_10 = num + 10
num_minus_10 = num - 10
num_square = num*num

print(f"Number plus 10: {num_plus_10}")
print(f"Number minus 10: {num_minus_10}")
print(f"Number Square: {num_square}")

Enter a number: 11.5
Number plus 10: 21.5
Number minus 10: 1.5
Number Square: 132.25

In [71]:
# Let the user take and input weight in Pounds and 
# calculate its value in KGs
# and write the a single statement:

# "the entered amount of "x" Pounds is equal to "y" KGs"

In [72]:
weight_pounds = float(input("Enter the value in Pounds: "))
weight_kgs = weight_pounds*0.453

print(f"The entered amount of {weight_pounds} Pounds is equal to {weight_kgs} KGs")

Enter the value in Pounds: 20
The entered amount of 20.0 Pounds is equal to 9.06 KGs