In [1]:
print("Hi")

Hi

In [2]:
print('Hi')

Hi

In [4]:
print(Hi)

NameError: name 'Hi' is not defined

In [ ]:
hi
Hi

In [14]:
print("Hi") # SHIFT + ENTER - Runs the cell and adds a cell below if there are no cell

Hi

In [13]:
print("Devesh") # CTRL + ENTER - Run the cell

Devesh

In [15]:
print("Hello World!")

Hello World!

In [16]:
name = "Susan"
age = 21
height = 5.5
is_Indian = False

In [17]:
type(name)

str

In [18]:
type(age)

int

In [20]:
type(height)

float

In [21]:
type(is_Indian)

bool

In [22]:
Age = 32
age = 28

In [23]:
Age

32

In [24]:
age

28

In [25]:
car = "Ford"

In [26]:
print(car)

Ford

In [27]:
del car

In [28]:
print(car)

NameError: name 'car' is not defined

In [29]:
# String Formatting

In [30]:
car_name  = "Honda"

In [31]:
print(car_name)

Honda

In [32]:
# String Concatenation

In [33]:
print("My car's name is "+car_name)

My car's name is Honda

In [34]:
print("My car's name is ",car_name)

My car's name is  Honda

In [35]:
# Format Method for String Formatting

In [36]:
item = "Honda"

In [37]:
print("My car name is {}".format(item))

My car name is Honda

In [38]:
item_1 = "Honda"
item_2 = "Maruti"

In [39]:
print("My cars name are {} and {}".format(item_1,item_2))

My cars name are Honda and Maruti

In [ ]:
# f-string

In [40]:
# f-string will replace the {variable} with its value

In [ ]:
item = "Honda"

In [41]:
print(f"My car's name is {item}")

My car's name is Honda

In [42]:
# Try this exercise

In [43]:
item_1 = "Guts"
item_2 = "Glory"

# The output should be like this, use f-string: "No Guts No Glory"

In [44]:
print(f"No {item_1} No {item_2}")

No Guts No Glory

In [45]:
input()

Devesh Singh

'Devesh Singh'

In [46]:
name = input()

Devesh Singh

In [47]:
name

'Devesh Singh'

In [48]:
name = input("Enter your name: ")

Enter your name: Devesh Singh

In [49]:
name

'Devesh Singh'

In [50]:
name = input("Enter your Name: ")
city = input("Enter your City: ")
wish = input("Enter your Wish: ")

Enter your Name: Devesh Singh
Enter your City: Lucknow
Enter your Wish: I hope everyone in this class becomes a pro coder in Python.

In [51]:
a, b = input("Enter A: "), input("Enter Value B: ")

Enter A: 30
Enter Value B: 40

In [53]:
age = input("Enter your Age: ")

Enter your Age: 30

In [54]:
type(age)

str

In [55]:
age

'30'

In [58]:
age = int(input("Enter your Age: "))

Enter your Age: 30

In [59]:
age

30

In [60]:
type(age)

int

In [61]:
int("30") # Type casting - Trying to convert one data type to another data type

30

In [62]:
"21" + 3

TypeError: can only concatenate str (not "int") to str

In [63]:
int("21") + 3

24

In [65]:
int("30")

30

In [66]:
str(30)

'30'

In [67]:
# Write a program to take two numbers from the users and give its average

In [68]:
num1 = int(input("Enter the 1st Number: "))
num2 = int(input("Enter the 2nd Number: "))

avg = (num1 + num2)/2

print(f"The average of two numbers is: {avg}")

Enter the 1st Number: 30
Enter the 2nd Number: 40
The average of two numbers is: 35.0

In [ ]:
+ # Addition
- # Subtraction
/ # Division
* # Multiplication

In [69]:
# Create a program to take input from the user- mass and acceleration
# and print output - force
# no need to worry about any units as of now

# You can use float() or int() for input()

In [71]:
mass = float(input("Enter the Mass value: "))
acce = float(input("Enter the accelaration value: "))

force = mass*acce

print(f"The Force value for entered mass and accelaration is: {force}")

Enter the Mass value: 30.5
Enter the accelaration value: 20.1
The Force value for entered mass and acceleration is: 613.0500000000001

In [72]:
# Take a number from the user and give the values after 

# 1. substracing 10 
# 2. adding 10
# 3. square

# finally print a statement with all outputs

In [73]:
num = float(input("Enter a number: "))

num_plus_10 = num + 10
num_minus_10 = num - 10
num_square = num * num

print(f"Number plus 10: {num_plus_10}")
print(f"Number minus 10: {num_minus_10}")
print(f"Number Square: {num_square}")

Enter a number: 11.5
Number plus 10: 21.5
Number minus 10: 1.5
Number Square: 132.25

In [ ]:
# Let the user take and input weight in Pounds and 
# calculate its value in KGs
# and write the a single statement:

# "the entered amount of "x" Pounds is equal to "y" KGs"

In [75]:
weight_pounds = float(input("Enter the value in Pounds: "))

weight_kgs = weight_pounds*0.453

print(f"The entered amount of {weight_pounds} Pounds is equal to {weight_kgs} KGs")

Enter the value in Pounds: 10
The entered amount of 10.0 Pounds is equal to 4.53 KGs